.main {
  min-height: 100vh;
}

.imgbg {
  background-image: url("../public/images/Lottery-bg.png");
  background-repeat: no-repeat;
  min-height: 800px;
  min-width: 1024px;
	max-width:100%;
  width: 100%;
	
  top: 0;
  left: 0;
}
.textColor {
  color:white;
}

.is-link {
  background-color: #eff1fa;
  color: red;
}

.main h1 {
  font-size: 3em;
  font-weight: bold;
  color: black;
}

.description {
  line-height: 1.5;
  font-size: 1.2em;
}

.footer {
  display: flex;
  flex: 1;
  margin-top: 2rem;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


